.staticImage, .movingImage, .flyingColt {
    position: fixed;
    width: 8%; 
    height: auto;
}

.facingRight {
    transform: scaleX(-1); 
}

.facingLeft {
    transform: scaleX(1); 
}

#startScreen {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#playButton {
    padding: 10px 20px;
    font-size: 24px;
    cursor: pointer;
}

#characterSelection img {
    width: 100px;
    cursor: pointer;
    margin: 10px;
    transition: transform 0.2s;
}

#characterSelection img:hover {
    transform: scale(1.1);
}

.characterOption.selected {
    border: 2px solid yellow;
}